<div class="container-fluid p-1">
    <div class="row">
        <div class="col-8 p-1">
            <div *ngIf="taskDetails" class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button
                                aria-controls="collapseOne"
                                aria-expanded="true"
                                class="btn btn-link"
                                data-target="#collapseOne"
                                data-toggle="collapse">
                            {{ taskDetails.name }}
                        </button>

                        <span class="badge badge-secondary">{{ taskDetails.tier.name }}</span>
                    </h5>
                </div>

                <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                    <div class="container-fluid p-1">
                        <div *ngFor="let question of taskDetails.questions" class="list-group">
                            <a class="list-group-item list-group-item-action">
                                {{ question.questionText }}
                            </a>
                            <div *ngIf="question.answers" class="input-group">
                                <div *ngFor="let user of question?.solvedByUsers" class="container-fluid p-1">
                                    <span class="badge badge-info">{{ user.name }}</span>
                                </div>

                                <div *ngFor="let answer of question?.answers" class="input-group">
                                    <div class="form-check">
                                        <input class="form-check-input" id="defaultCheck1" type="checkbox" value="" [(ngModel)]="isChecked" (change)="submitAnswer(question.id, answer.id, isChecked)"/>
                                        <label class="form-check-label" for="defaultCheck1">
                                            {{ answer.answerText }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4" id="accordion">
            <div *ngFor="let unit of units" class="container-fluid p-1">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button
                                    aria-controls="collapseOne"
                                    aria-expanded="true"
                                    class="btn btn-link"
                                    data-target="#collapseOne"
                                    data-toggle="collapse">
                                {{ unit.name }}
                            </button>
                        </h5>
                    </div>

                    <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                        <div class="">
                            <div *ngFor="let task of unit.tasks" class="list-group">
                                <a (click)="getDetails(task.id)" class="list-group-item list-group-item-action">
                                    {{ task.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
